@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "vazir";
    src: url(../font/Vazir.woff);
  }

  body {
    font-family: "vazir";
  }
}

@layer components {
  .row {
    @apply flex flex-wrap w-full;
  }

  .center {
    @apply items-center justify-center;
  }
}

@keyframes translate {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-7px);
  }
}
